@import url("https://fonts.googleapis.com/css?family=Abel");

.App {
  height: 100vh;
  background-size: cover;
  color: white;
  overflow-y: hidden;
  display: flex;
}

nav {
  padding: 10px;
}

.page {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: black;
}

