.App {
  height: 100vh;
  background-size: cover;
  color: white;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

.page {
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: black;
}
